{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

  <div class="content container">
    <div class="post">

      <h1 class="post-title">{{ .Title }}</h1>

      <!-- Post Meta -->
      <span class="post-date">{{ .Date.Format "January 2, 2006" }}{{ if not .Site.Params.hideReadingTime }} &middot; <span class="icon-clock-o"></span> {{ .ReadingTime }} minute read{{ end }}{{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a> <!-- &middot; {{.WordCount}} words --> {{ end }}
      {{ if isset .Params "categories" }}
      <br/>
      {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      {{ end }}</span>

      <!-- Content -->
      <div class="post-content">
      {{ .Content }}
      </div>

    </div>

    <ul class="pagination">
      {{ if .NextInSection }}
      <li><a class="" href="{{.NextInSection.Permalink}}"><span class="icon-chevron-circle-left"></span> Previous Post</a></li>
      {{ end }}
      {{ if .PrevInSection }}
      <li><a class="" href="{{.PrevInSection.Permalink}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next Post <span class="icon-chevron-circle-right"></span></a></li>
      {{ end }}
    </ul>

    <hr class="soften">

    {{ if .Site.DisqusShortname }}
    <!-- {{ template "_internal/disqus.html" . }} -->
    {{ partial "disqus.html" . }}
    {{ end }}

  </div>

  {{ if .Site.DisqusShortname }}
  <script id="dsq-count-scr" src="//{{ .Site.DisqusShortname }}.disqus.com/count.js" async></script>
  {{end}}

{{ partial "footer.html" . }}

</body>
</html>
