{{ if isset .Site.Params "highlight" }}
<script src='{{ .Site.BaseURL }}/js/loadjs.min.js'></script>
<script>
  // Use loadjs to load highlight.js css and js code asyncronously in parallel and then initialize highlight.js
  loadjs(['{{.Site.BaseURL }}/css/highlight/{{.Site.Params.highlight}}.css', '{{ .Site.BaseURL }}/js/highlight.pack.js'], {
    success: function () { hljs.initHighlightingOnLoad(); },
    error: function (pathsNotFound) { console.log('file not found'); }
  });
</script>
{{ end }}
